* {
    padding: 0%;
    margin: 0%;
    border: 0%;
}

body {
    background-color: #f0f2ff;
    text-transform: capitalize;
    width: 100%;
    height: 900px;
}
header {
    height: 75px;
    width: 100%;
    padding: 0%;
    margin: 0%;
}
.skilled {
    width: 50%;
    height: 100%;
    float: left;
    color: #13183e;
    font-weight: bolder;
    font-size: large;
}
.skilled h4 {
    margin-left: 8vw;
    margin-top: 20px;
}
.get-started {
    height: 100%;
    width: 50%;
    float: right;
}
.get-started button {
    background-color: #13183e;
    height: 35px;
    width: 120px;
    color: white;
    border-radius: 17.5px;
    padding: 5px;
    font-size: large;
    margin-top: 12.5px;
    margin-right: 8vw;
    float: right;
    border-style: none;

}

.container {
    margin-right: 8%;
    margin-left: 8%;
    margin-top: 30px;
    width: 84%;
    color: hsl(0, 0%, 25%);
    height: 730px
}
.main-container {
    width: 100%;
    height: 250px;
}
.container1 {
    height: 220px;
    width: 50%;
    float: left;
}
.container1 h2 {
    color: #13183e;
    font-size: 40px;
}
.container1 button {
    background-color: #fa5867;
    color: white;
    border-style: none;
    height: 40px;
    width: 120px;
    border-radius: 20px;
    margin-top: 10px;

}
.sub-container {
    width: 50%;
    height: auto;
    float: right;
    display: flex;
    align-items: center;
    justify-content: center;
}
.course {
    background-color: white;
    color: #13183e;
    height: 34px;
    width: 65px;
    border-radius: 5px;
    padding: 6px;
    margin-top: 100px;
    margin-left: -180px;
}
img {
    margin-left: 10%;
    height: 220px;
    width: 120px;
    border-radius: 60px;
    margin-left: 0;
}
.image {
    width: 130px;
    float: left;
}
.members {
    background-color: white;
    color: #13183e;
    height: 34px;
    width: 50px;
    border-radius: 5px;
    padding: 6px;
    margin-top: -90px;
    margin-left: 80px;
    
    float: left;
}
p {
    font-size: 0.6em;
}

.middle-container {
    margin: 0%;
    width: 100%;
    height: 480px;
}

.container3 {
    height: 160px;
    background: #fa5867;
    color: white;
    width: 20%;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 30px;
    border-radius: 5px;
    float: left;
    padding-bottom: 15px;
}
#check {
    font-size: 1.6em;
}
.container4 {
    height: 160px;
    background: white;
    width: 20%;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 30px;
    border-radius: 5px;
    font-size: 1.4rem;
    margin-left: 5%;
    float: left;
    padding-bottom: 15px;
}
.container5 {
    height: 160px;
    background: white;
    width: 20%;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 40px;
    border-radius: 5px;
    font-size: 1.4rem;
    float: left;
    padding-bottom: 15px;
    margin-left: 5%;
}
.container6 {
    height: 160px;
    background: white;
    width: 20%;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 30px;
    border-radius: 5px;
    font-size: 1.4rem;
    margin-top: 5%;
    float: left;
    padding-bottom: 15px;
}
.container7 {
    height: 160px;
    background: white;
    width: 20%;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 30px;
    border-radius: 5px;
    font-size: 1.4rem;
    margin-top: 5%;
    float: left;
    padding-bottom: 15px;
    margin-left: 5%;
}
.container8 {
    height: 160px;
    background: white;
    width: 20%;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 30px;
    border-radius: 5px;
    font-size: 1.4rem;
    margin-left: 5%;
    margin-top: 5%;
    float: left;
    padding-bottom: 15px;
    margin-left: 5%;
}
a {
    color: #fa5867;
    text-transform: capitalize;
    text-decoration: none;

}
h5 {
    margin-bottom: 10px;
}
.anchor {
    margin-top: 20px;
    overflow: hidden;
    white-space: nowrap;
}
footer {
    background-color: #13183e;
    width: 100%;
    height: 75px;
    position: absolute;
    margin-top: 40px;
}
.footer-skilled {
    width: 50%;
    height: 100%;
    color: white;
    font-size: large;
    float: left;
}
.footer-btn {
    width: 50%;
    height: 100%;
    font-size: large;
    float: left;
    
}
.footer-btn button {
    background-color: #b338c7;
    height: 35px;
    width: 120px;
    border-radius: 17.5px;
    color: white;
    margin-right: 16%;
    margin-top: 20px;
    border-style: none;
    font-weight: bold;
}
.footer-skilled h2 {
    margin-left: 16%;
    margin-top: 24.5px;
}
.footer-btn button {
    float: right;

}

@media (max-width: 768px) {
    body {
        background-color: #f0f2ff;
        text-transform: capitalize;
        width: 100%;
        height: auto;
    }
    header {
        height: 75px;
        width: 100vw;
        padding: 0%;
        margin: 0%;
    }
    .skilled {
        width: 45vw;
        float: left;
        margin-left: 5vw;
    }
    .skilled h4 {
        margin-left: 0;
        margin-top: 27px;
    }
    .get-started {
        margin-right: 5vw;
        width: 45vw;
        float: right;
    }
    .get-started button {
        float: right;
        margin-right: 0;
        margin-top: 20px;
    }
    .container {
        margin-right: 5vw;
        margin-left: 5vw;
        margin-top: 20px;
        width: 90vw;
        color: hsl(0, 0%, 25%);
        display: inline-block;
    }
    .main-container {
        width: 90vw;
        height: auto;
    }
    .container1 {
        height: 220px;
        width: 100%;
        float: none;
        vertical-align: top;
        top: 0;
    }
    .container1 h2 {
        color: #13183e;
        font-size: 40px;
    }
    .container1 button {
        background-color: #fa5867;
        border-style: none;
        height: 40px;
        width: 120px;
        border-radius: 20px;
        margin-top: 10px;
    
    }
    .sub-container {
        width: 90vw;
        height: auto;
        float: none;
        vertical-align: bottom;
        bottom: 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    img {
        margin-left: 0;
        height: 280px;
        width: 280px;
        border-radius: 50%;
        margin-left: 0%;
    }
    .image {
        width: 280px;
        float: none;
        margin-left: 0;
    }
    .members {
        background-color: white;
        height: 50px;
        width: 60px;
        border-radius: 5px;
        padding: 6px;
        margin-top: -190px;
        margin-left: 130px;
        margin-right: 0px;
    }
    .members h3 {
        font-size: 1.7em;
        margin-top: 4px;
    }
    p {
        font-size: 0.7em;
    }
    .course {
        background-color: white;
        height: 50px;
        width: 74px;
        border-radius: 5px;
        padding: 6px;
        margin-top: 160px;
        margin-right: 0px;
        margin-left: -290px;
    }
    .course h3 {
        margin-top: 4px;
        font-size: 1.7em;
    }
    .container3 {
        height: auto;
        background: #fa5867;
        color: white;
        width: 80vw;
        padding-left: 5vw;
        padding-right: 5vw;
        padding-top: 5vh;
        padding-bottom: 5vh;
        border-radius: 5px;
        float: none;
        margin-top: 10vh;
    }
    #check {
        font-size: 1.7em;
    }
    .container4 {
        height: auto;
        background: white;
        width: 80vw;
        padding-left: 5vw;
        padding-right: 5vw;
        padding-top: 5vw;
        border-radius: 5px;
        font-size: 1.4rem;
        margin-left: 0px;
        float: none;
        margin-top: 5vh;
        padding-bottom: 5vh;
    }
    .container5 {
        height: auto;
        background: white;
        width: 80vw;
        padding-left: 5vw;
        padding-right: 5vw;
        padding-top: 5vw;
        border-radius: 5px;
        font-size: 1.4rem;
        margin-left: 0px;
        float: none;
        margin-top: 5vh;
        padding-bottom: 5vh;
    }
    .container6 {
        height: auto;
        background: white;
        width: 80vw;
        padding-left: 5vw;
        padding-right: 5vw;
        padding-top: 5vw;
        border-radius: 5px;
        font-size: 1.4rem;
        margin-left: 0px;
        float: none;
        margin-top: 5vh;
        padding-bottom: 5vh;
    }
    .container7 {
        height: auto;
        background: white;
        width: 80vw;
        padding-left: 5vw;
        padding-right: 5vw;
        padding-top: 5vw;
        border-radius: 5px;
        font-size: 1.4rem;
        margin-left: 0px;
        float: none;
        margin-top: 5vh;
        padding-bottom: 5vh;
    }
    .container8 {
        height: auto;
        background: white;
        width: 80vw;
        padding-left: 5vw;
        padding-right: 5vw;
        padding-top: 5vw;
        border-radius: 5px;
        font-size: 1.4rem;
        margin-left: 0px;
        float: none;
        margin-top: 5vh;
        padding-bottom: 5vh;
    }
    footer {
        margin-top: 10vh;
    }


}
@media (min-width: 768px) and (max-width:1024px) {
    body {
        background-color: #f0f2ff;
        text-transform: capitalize;
        width: 100%;
        height: auto;
    }
    header {
        height: 75px;
        width: 100%;
        padding: 0%;
        margin: 0%;
    }
    .skilled {
        width: 50%;
        height: 100%;
        float: left;
        color: #13183e;
        font-weight: bolder;
        font-size: large;
    }
    .skilled h4 {
        margin-left: 8vw;
        margin-top: 20px;
    }
    .get-started {
        height: 100%;
        width: 50%;
        float: right;
    }
    .get-started button {
        background-color: #13183e;
        height: 35px;
        width: 120px;
        color: white;
        border-radius: 17.5px;
        padding: 5px;
        font-size: large;
        margin-top: 12.5px;
        margin-right: 8vw;
        float: right;
        border-style: none;
    
    }
    .container {
    margin-right: 8%;
    margin-left: 8%;
    margin-top: 30px;
    width: 84%;
    color: hsl(0, 0%, 25%);
    height: auto;
    margin-bottom: 5%;
}
.main-container {
    width: 100%;
    height: 250px;
}
.container1 {
    height: 220px;
    width: 50%;
    float: left;
}
.container1 h2 {
    color: #13183e;
    font-size: 40px;
}
.container1 button {
    background-color: #fa5867;
    color: white;
    border-style: none;
    height: 40px;
    width: 120px;
    border-radius: 20px;
    margin-top: 10px;

}
.sub-container {
    width: 50%;
    height: auto;
    float: right;
    display: flex;
    align-items: center;
    justify-content: center;
}
.course {
    background-color: white;
    color: #13183e;
    height: 34px;
    width: 65px;
    border-radius: 5px;
    padding: 6px;
    margin-top: 100px;
    margin-left: -180px;
}
img {
    margin-left: 10%;
    height: 220px;
    width: 120px;
    border-radius: 60px;
    margin-left: 0;
}
.image {
    width: 130px;
    float: left;
}
.members {
    background-color: white;
    color: #13183e;
    height: 34px;
    width: 50px;
    border-radius: 5px;
    padding: 6px;
    margin-top: -90px;
    margin-left: 80px;
    
    float: left;
}
p {
    font-size: 0.6em;
}
.middle-container {
    margin: 0%;
    width: 100%;
    height: 635px;
}

.container3 {
    height: 160px;
    background: #fa5867;
    color: white;
    width: 37.5%;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 30px;
    border-radius: 5px;
    float: left;
    padding-bottom: 15px;
    margin-left: 0%;
}
#check {
    font-size: 1.6em;
}
.container4 {
    height: 160px;
    background: white;
    width: 37.5%;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 30px;
    border-radius: 5px;
    font-size: 1.4rem;
    float: left;
    padding-bottom: 15px;
    margin-left: 5%;
}
.container5 {
    height: 160px;
    background: white;
    width: 37.5%;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 30px;
    border-radius: 5px;
    font-size: 1.4rem;
    float: left;
    padding-bottom: 15px;
    margin-top: 5%;
    margin-left: 0%;
}
.container6 {
    height: 160px;
    background: white;
    width: 37.5%;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 30px;
    border-radius: 5px;
    font-size: 1.4rem;
    margin-top: 5%;
    float: left;
    padding-bottom: 15px;
    margin-left: 5%;
}
.container7 {
    height: 160px;
    background: white;
    width: 37.5%;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 30px;
    border-radius: 5px;
    font-size: 1.4rem;
    margin-top: 5%;
    float: left;
    padding-bottom: 15px;
    margin-left: 0;
}
.container8 {
    height: 160px;
    background: white;
    width: 37.5%;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 30px;
    border-radius: 5px;
    font-size: 1.4rem;
    margin-left: 5%;
    margin-top: 5%;
    float: left;
    padding-bottom: 15spx;
    margin-left: 5%;
}

}
